* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(233, 238, 217, 0.5);
}

.garis {
    min-height: 10px;
    background-color: rgb(154, 126, 111);
}

header .logo {
    color: #54473F;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-right: auto;
}

header .menu-links li {
    font-weight: 500;
    font-size: 16px; 
    display: inline-block;  
    padding: 0 5px;
    list-style-type: none;
}

header .menu-links li a {
    color: #54473F;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

header .menu-links li a:hover {
    color: #9A7E6F;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(154, 126, 111, 0.542);
    box-shadow: 0 10px 5px -10px rgba(0, 0, 0, 0.3);
}

nav {
    margin-right: 20px;
}

.masuk {
    background-color: #54473F;
    color: #E9EED9;
    padding: 9px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.masuk:hover {
    background-color: rgba(84, 71, 63, 0.8);
}

.username {
    font-size: 16px;
    padding-left: 10px;
    font-weight: 500;
    color: #54473F;
    text-decoration: underline;
}

/* =========================== */

.paragraf-atas h1 {
    justify-content: center;
    text-align: center;
}

.paragraf-atas p {
    align-items: center;
}

section {
    display: block;
    padding: 20px 10%;
}

.kontainer {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.paragraf-atas {
    padding: 20px 10%;
}

.about {
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutUs-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.aboutUs-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

h2, p, h4{
    margin: 5px auto;
}

p {
    font-weight: 450;
}
